<h1>Sign Up Below:</h1> 

<form action='/signup' method="POST">
  Name:
  <br>
  <input type="text" name="name"> 
  <br>
  <br>
  Email:
  <br>
  <input type="text" name="email">
  <br>
  <br>
  Password:
  <br>
  <input type="password" name="password">
  <br>
  <br>
  <input type="submit" value="Sign Up">
</form> 


