<h1>Book List</h1>

<p>Welcome! Once you start learning to program, you will start collecting books to help your learning process.  It isn't always easy to keep track of all those books.  This app will help you keep track of your books (Hard Copy, PDF, and Ebooks) so you know what books you have for what you are learning!</p>

<a href="/login">Login</a>
<br>
<br>
<a href="/signup">Signup</a>